body{
    border: 1px solid red;
    font-size: 16px;
    max-width: 1024px;
    margin: 0px auto;
}

header nav ol{
    text-align: center;
    
}
header nav ol li{
    border: 1px solid blue;
    display: inline-block;
    margin-right: 25px;
    color: white;
    background: blue;
    /*padding : 12px */
    padding: 12px 26px;
}
header nav ol li:hover{
 background:white;
 color: blue
}