body{
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
    padding: 20px;
}
.contenedor > *{
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
/* Diseño inicial: mobile first */
.contenedor{
    display: grid;
    gap: 20px;
    grid-template:
    "header" 200px
    "navbar" 50px
    "main" 100px
    "sidebar" 80px
    "footer" 100px; 
}
/* Cuando el mínimo de ancho sea 1024px */
/* media query */
@media(min-width:1024px){
    .contenedor{
        grid-template:
        "header navbar" 300px
        "sidebar main" 300px
        "footer footer" 100px/
        200px auto; 
    }
}
/* Computadora o laptop*/
@media(min-width:1440px){
    .contenedor{
        grid-template:
        "header header header" 100px
        "navbar main main"  300px
        "navbar footer footer" 100px/
        200px auto 200px;
    }
}
.header{
    grid-area: header;
    background: purple;
}
.navbar{
    grid-area: navbar;
    background: green;
}
.sidebar{
    grid-area: sidebar;
    background: orange;
}
.main{
    grid-area: main;
    background: blue;
}
.footer{
    grid-area: footer;
    background: yellow;
}